name: Documentation
on:
    push:
        branches:
            - main
permissions:
    contents: read
    pages: write
    id-token: write
jobs:
    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest

        steps:
            - name: Configure pages
              uses: actions/configure-pages@v5

            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: 3.x

            - name: Install uv
              uses: astral-sh/setup-uv@v3

            - name: Install dependencies
              run: uv sync

            - name: Build documentation
              run: uv run zensical build --clean

            - uses: actions/upload-pages-artifact@v4
              with:
                  path: site
            - uses: actions/deploy-pages@v4
